//meta
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
//---meta(name="format-detection" content="telephone=no")
meta(name='description', content=meta_description)
meta(property="og:type", content="website")
meta(property='og:site_name', content='Picnic')
meta(property='og:title', content=og_title)
meta(property='og:description', content=og_description)
meta(property='og:image', content=og_image)

//---meta(property='og:locale', content='uk_UA')
//---meta(property='og:locale:alternate', content='uk_UA')
//---meta(property='fb:app_id', content='')
//---meta(property='vk:image', content='')
//---meta(property='vk:app_id', content='')
